*env*
__pycache__/
.idea
.vscode
*webshare*
html/
html-*
json*
csv/*
csv_dumps/*
bin/*
GIS_data/*
!GIT_data/state_codes.py
Rthings
scripts/DEPRECATED/*
scripts/outfiles/csv_process*
.RData
.Rhistory
*temp*
gecko*
*process_files*
csv_processing/
csv_no_duplicates/
*credentials*
*/distilroberta/*/
LLM_data/
training_logs/
crime/
education/
split_csvs/
*.tar.gz
